<hr>

<footer>
	<div class="grid small">
		<div class="col-1-5 hide-on-mobile">
			<p>
			<img src="/img/black-logo-120.png" width="60" height="64" class="img-footer">

			</p>
			<p>sitespeed.io</p>
			</div>

	<div class="col-1-5">
		<h3>code</h3>
		<ul>
		<li><a href="https://github.com/sitespeedio/sitespeed.io">Source Code</a></li>
		<li><a href="https://github.com/sitespeedio/sitespeed.io-vagrant">Vagrant Files</a></li>
		<li><a href="https://registry.hub.docker.com/repos/sitespeedio/">Docker Images</a></li>
		<li><a href="https://github.com/sitespeedio/grunt-sitespeedio">GruntJS Plugin</a></li>
		<!--<li>Jenkins plugin</li>-->
	</div>
	<div class="col-1-5">
		<h3>connect</h3>
		<ul>
		<li><a href="https://twitter.com/SiteSpeedio">Twitter</a></li>
		<li><a href="https://www.facebook.com/sitespeed.io">Facebook</a></li>
		<li><a href="https://github.com/sitespeedio">Github</a></li>
	</div>
	<div class="col-1-5">
		<h3>sitespeed.io</h3>
		<ul>
		<li><a href="/aboutus/">About Us</a></li>
		<li><a href="https://github.com/sitespeedio/sitespeed.io/blob/master/HELP.md">Help Us</a></li>
		<li><a href="https://www.stickermule.com/marketplace/2574-sitespeed-dot-io">Stickers</a></li>
		<li><a href="/logo/">Logos</a></li>
	</ul>
	</div>
	<div class="col-1-5">
		<h3>#webperf</h3>
		<ul>
			<li><a href="http://www.webpagetest.org/">WebPageTest</a></li>
			<li><a href="https://github.com/tobli/browsertime">BrowserTime</a></li>
			<li><a href="http://speedgun.io">SpeedGun</a></li>
			<li><a href="https://github.com/macbre/phantomas">Phantomas</a></li>
			<li><a href="https://developers.google.com/speed/pagespeed/insights/">PageSpeed</a></li>
		</ul>
	</div>

	<div class="col-1-1">
	<p class="copy">
		&copy; <a href="https://plus.google.com/117816592702403736035?rel=author" target="_blank">Peter Hedenskog</a>
		{{ site.time | date: '%Y' }}, last updated {{ site.time | date: "%H:%M %d %B %Y"  }}
	</p>
	<p class="flogo">The CDN is sponsored by <a href="http://www.fastly.com/"><img src="/img/fastly.png" class="fastly"></a></p>
</div>

</div>
<p></p>
</footer>
