<hr>

<footer>
	<div class="grid small">
		<div class="col-1-4">
			<p>
			<img src="/img/black-logo-120.png" width="60" height="64" class="img-big">
		</p>
		<p>
			&copy; <a href="https://plus.google.com/117816592702403736035?rel=author" target="_blank">Peter Hedenskog</a>
			{{ site.time | date: '%Y' }}, last updated {{ site.time | date: "%H:%M %d %B %Y"  }}
		</p>
		</div>

	<div class="col-1-4">
		The sitespeed.io world:
		<ul>
		<li><a href="https://github.com/sitespeedio/sitespeed.io">Github</a></li>
		<li><a href="https://github.com/sitespeedio/sitespeed.io-vagrant">Vagrant</a></li>
		<li><a href="https://github.com/sitespeedio/sitespeed.io-docker">Docker</a></li>
		<li><a href="https://github.com/sitespeedio/grunt-sitespeedio">GruntJS plugin</a></li>
		<li>Jenkins</li>
	</div>
	<div class="col-1-4">
		Do you like the logo? You can
		<a href="/logo/">download</a> it or get it as an <a href="https://www.stickermule.com/marketplace/2574-sitespeed-dot-io">sticker</a>.
	</div>
	<div class="col-1-4">
		This site is sponsored by <a href="http://www.fastly.com/">Fastly</a>.
		Do you also want to make sitespeed.io even better? <a href="">Here's how</a>.
	</div>
</div>
<p></p>
</footer>
