<hr>

<footer>
	<div class="grid small">
		<div class="col-1-4 hide-on-mobile">
			<p>
			<img src="/img/black-logo-120.png" width="60" height="64" class="img-footer">

			</p>
			<p>sitespeed.io</p>
			</div>

	<div class="col-1-4">
		<h3>WORLD</h3>
		<ul>
		<li><a href="https://github.com/sitespeedio/sitespeed.io">Github</a></li>
		<li><a href="https://github.com/sitespeedio/sitespeed.io-vagrant">Vagrant</a></li>
		<li><a href="https://registry.hub.docker.com/u/sitespeedio/sitespeed.io-docker/">Docker</a></li>
		<li><a href="https://github.com/sitespeedio/grunt-sitespeedio">GruntJS Plugin</a></li>
		<li>Jenkins</li>
	</div>
	<div class="col-1-4">
		<h3>CONNECT</h3>
		<ul>
		<li><a href="https://twitter.com/SiteSpeedio">Twitter</a></li>
		<li><a href="https://www.facebook.com/sitespeed.io">Facebook</a></li>
		<li><a href="https://github.com/sitespeedio">Github</a></li>
	</div>
	<div class="col-1-4">
		<h3>INFO</h3>
		<ul>
		<li><a href="/aboutus/">About Us</a></li>
		<li><a href="/logo/">The Logo</a></li>
		<li><a href="https://www.stickermule.com/marketplace/2574-sitespeed-dot-io">Stickers</a></li>
		<li><a href="http://www.fastly.com/">Thanks Fastly</a></li>
		<li><a href="https://github.com/sitespeedio/sitespeed.io/blob/master/HELP.md">Help Us</a></li>
	</ul>
	</div>

	<div class="col-1-1">
	<p class="copy">
		&copy; <a href="https://plus.google.com/117816592702403736035?rel=author" target="_blank">Peter Hedenskog</a>
		{{ site.time | date: '%Y' }}, last updated {{ site.time | date: "%H:%M %d %B %Y"  }}
	</p>
</div>

</div>
<p></p>
</footer>
