<div class="darkblue nav">
<div class="grid">
  <div class="col-1-1">
    <div class="logo">
    <a href="http://www.sitespeed.io"><img src="/img/sitespeed-logo-2c.png" class="navbar-brand" alt="Sitespeed.io - How speedy is your site?" width="162" height="50"/></a>
  </div>
    <ul>
      <li>
         <a href="/" {% if page.nav == 'start' %}class="active" {% endif %}>Start</a>
      </li>
      <li>
         <a href="/documentation/" {% if page.nav == 'documentation' %}class="active" {% endif %}>Documentation</a>
      </li>
      <li>
         <a href="/rules/" {% if page.nav == 'rules' %}class="active" {% endif %}>Rules</a>
      </li>
      <li>
         <a href="/example/" {% if page.nav == 'examples' %}class="active" {% endif %}>Examples</a>
      </li>
      <li>
         <a href="/faq/" {% if page.nav == 'faq' %}class="active" {% endif %}>FAQ</a>
      </li>
    </ul>
  </div>
</div>
</div>




<script type="text/javascript">
  markUserTime('headerTime');
</script>

<div class="hide-on-mobile">
  <a href="https://github.com/sitespeedio/sitespeed.io">
    <img style="position: absolute; top: 0; right: 0; border: 0; z-index:1040;" src="/img/forkme_right_green_007200.png" alt="Fork me on GitHub"></a>
</div>
