
  <h3>Install via Homebrew on Mac</h3>
    <p>1. Install sitespeed.io</p>
    <pre class="bash">$ brew install sitespeedio/sitespeedio/sitespeed.io</pre>
    <p>2. Run</p>
    <pre class="bash">$ sitespeed.io -h</pre>

    <h3>Install other *nix</h3>
            1. <a href="http://phantomjs.org/download.html" target="_blank">Install PhantomJS (1.9)</a>
        </p>
        <p>2. <a href="http://www.oracle.com/technetwork/java/javase/downloads/jdk7-downloads-1880260.html" target="_blank">Install/use Java 1.6 (or higher)</a></p>

        <p>
          3. Clone the project from Github
	   </p>
          <pre class="bash">$ git clone https://github.com/sitespeedio/sitespeed.io.git</pre>

	  <p>
	      or <a href="https://github.com/sitespeedio/sitespeed.io/releases" class="btn btn-success btn-lg" onclick="_gaq.push(['_trackEvent','Documentation  action', 'Download', 'Download 2.1']);">
                 download
               </a> and unpack the zip.
	        </p>
          <p>4. Run</p>
          <pre class="bash">$ bin/sitespeed.io -h</pre>
