
  <h3>Install via Homebrew on Mac</h3>
    <p>1. Install sitespeed.io</p>
    <pre class="bash">
$ brew tap sitespeedio/sitespeedio
$ brew install sitespeed.io
</pre>
    <p>2. Run</p>
    <pre class="bash">$ sitespeed.io -h</pre>

    <h3 id="install-linux">Install  on Linux</h3>
            1. <a href="http://phantomjs.org/download.html" target="_blank">Install PhantomJS (1.9)</a>
        </p>
        <p>2. <a href="http://www.oracle.com/technetwork/java/javase/downloads/jdk7-downloads-1880260.html" target="_blank">Install/use Java 1.6 (or higher)</a></p>

        <p>3. Make sure you have <em>curl</em> and <em>xsltproc</em> installed, if not install them.</p>
        <p>
          4. Clone the project from Github
	   </p>
          <pre class="bash">$ git clone https://github.com/sitespeedio/sitespeed.io.git</pre>

	  <p>
	      or <a href="https://github.com/sitespeedio/sitespeed.io/releases" class="btn btn-success btn-lg" onclick="_gaq.push(['_trackEvent','Documentation  action', 'Download', 'Download 2.4']);">
                 download
               </a> and unpack the zip.
	        </p>
          <p>4. Run</p>
          <pre class="bash">$ bin/sitespeed.io -h</pre>

<h3 id="install-windows">Install on Windows</h3>
<p>First of all:  all files need to be in your PATH, if you don't know how to do that read more <a href="http://www.java.com/en/download/help/path.xml" target="_blank">here</a>.</p>
<p>1. Install the latest full version of <a href="https://code.google.com/p/msysgit/downloads/list?q=label:Featured" target="_blank">Git Bash</a></p>
<p>2. Install <a href="http://java.com/en/download/index.jsp" target="_blank">Java</a> 1.6 or higher</p>
<p>3. Install <a href="http://phantomjs.org/download.html" target="_blank">PhantomJS</a></p>
<p>4. <a href="https://github.com/sitespeedio/sitespeed.io/releases" class="btn btn-success btn-lg" onclick="_gaq.push(['_trackEvent','Documentation  action', 'Download', 'Download 2.4']);">Download</a> or clone sitespeed.io from Github</p>
<p>If you want to collect Navigation Timing Data you should also install:</p>
<p>5.  <a href="https://code.google.com/p/selenium/wiki/InternetExplorerDriver">Internet Explorer Driver</a></p>
<p>6.  <a href="https://code.google.com/p/selenium/wiki/ChromeDriver" target="_blank">ChromeDriver</a></p>
<p>If you run sitespeed.io in you CI-tool, then you want to run sitespeed.io-junit,  then you need to install the following:</p>
<p>7.  <a href="http://www.zlatkovic.com/libxml.en.html" target="_blank">xsltproc</a> for Windows. You will need the following:  <em>libxml2.dll, iconv.dll, zlib.dll, xsltproc.exe</em> and as always put them in your PATH.</p>
