body {
      font-family: Tahoma,Impact,Verdana,sans-serif;
      font-size: 19px;
      line-height: 1.618em;
      padding-top: 50px; 
}

 footer p {
    text-align: center;
}

.url {
word-wrap: break-word;
white-space: normal;
}


.table-small {
font-size: 16px;
}

 h1, h2, h3, h4, h5, h6 {
      font-family: Tahoma,Verdana,sans-serif;
    }

  .navbar {
        border: 0;
        border-radius: 0;
    }

    .navbar-collapse {
        border: 0;
        box-shadow: none;
    }

.navbar-brand {
      padding: 0px 10px;
      max-width: 250px;
}

    .navbar-default {
      color: white;
      background-color: #0095d2;
      border: 0px;
    }

    .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
      color: white;
      background-color: #0073b0;
    }

    .navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
    color: white;
    }

    .navbar-default .navbar-nav>li>a  {
      color: white;
    }

.image{text-align:center}

.jumbotron{background-color: #e1f6fd;}

.img-big{padding-right: 20px;}

.btn-xlg{
font-size:26px;
padding:16px 20px;
line-height:1.33;
border-bottom-left-radius:10px;
  border-bottom-right-radius:10px;
  border-top-left-radius:10px;
  border-top-right-radius:10px;
margin-top: 5px;
margin-bottom: 5px;
}

v .navbar-default .navbar-toggle {
      border: 1px solid #fff;
    }
 .navbar-default .navbar-toggle .icon-bar {
      background-color: #fff;
    }

    .navbar-default .navbar-toggle:hover, .navbar-toggle:focus {
      background-color: #0073b0;
    }

.bash {
color:#FFFFFF;
background-color:#555555;
font-size:80%;
}

.dropdown-toggle.btn-default{color:#fff;background-color:#0073b0;border-color:#0073b0;}


.dropdown-menu{background-color:#0095d2;}

.dropdown-menu > li > a {color:#fff;}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
color: #fff;
background-color: #0095d2;
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
background-color: #0073b0;
}

.dropdown-menu{
border:0px;
}

.navbar-default .navbar-nav>.dropdown>a:hover .caret, .navbar-default .navbar-nav>.dropdown>a:focus .caret {
border-top-color: #0073b0;
border-bottom-color: #0073b0;
}

.navbar-default .navbar-nav>.dropdown>a .caret {
border-top-color: #fff;
border-bottom-color: #fff;
}


.note {
margin: 20px 0;
padding: 15px 30px 15px 15px;
border-left: 10px solid #eee;
}

.note-warning {
background-color: #fcf2f2;
border-color: #dFb5b4;
}

.note-info {
background-color: #f0f7fd;
border-color: #d0e3f0;
}

.start {
position: relative;
width: 100%;
overflow: hidden;
background-color: #e1f6fd;
padding-top: 60px;
padding-bottom: 60px;
}

.startpage {
margin-top:6px;
}

.toc {

}


@media (max-width: 767px) {

.navbar-default .navbar-nav .open .dropdown-menu>li>a {
color: #fff;
}

.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover, .navbar-default .navbar-nav .open .dropdown-menu>li>a:focus {
color: #fff;
}

body {
   font-size: 16px;
   line-height: 1.250em;
}

h1 {
font-size: 36px;
}

h2 {
font-size: 30px;
}

h3 {
font-size:24px;
}

h1, h2, h3 {
margin-top: 20px;
margin-bottom: 10px;
}

}